/* ============================= ROOT =================================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: poppins, proxima-nova, noto, helvetica, arial, sans-serif;
  font-size: 13px;
  box-sizing: border-box;
}

/* ============================= END OF ROOT ============================ */

/* ============================= PAGES ============================ */
.home {
  width: 100vw;
  height: 100vh;
  background-color: rgb(253, 253, 253);
  overflow: auto;
}

.headerContainer {
  width: 100%;
  border-bottom: 1px solid rgba(146, 146, 146, 0.2);
  justify-content: center;
}

.searchSection {
  background-image: url(https://ychef.files.bbci.co.uk/976x549/p07y6m73.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: 1% 6% 2% 6%;
  color: #fff;
}

.searchSection > .heading {
  padding-bottom: 20px;
}

.searchSection > .heading > p {
  padding: 0 5px;
  font-size: 26px;
}

.searchContainer {
  background-color: rgba(0, 0, 0, 0.45);
  padding: 2% 2%;
}

.searchContainer > .addresses {
  width: 90%;
}
.searchContainer > .addresses > .search-in {
  margin-right: 3%;
}

.searchContainer > .addresses > .address {
  padding: 5px 15px;
  justify-content: space-between;
  border-radius: 20px;
  cursor: pointer;
}

.searchContainer > .addresses > .address.active {
  padding: 5px 15px;
  background-color: rgb(12, 124, 230);
}

.searchContainer > .search-form {
  width: 100%;
  margin-top: 2%;
}
.searchContainer > .search-form > input {
  width: 83%;
  padding: 20px;
}

.searchContainer > .search-form > .search-btn {
  margin-left: 2%;
  width: 17%;
  background-color: rgb(10, 110, 204);
  color: #fff;
  transition: all 0.5s ease;
  padding: 20px;
}

.searchContainer > .search-form > .search-btn:hover {
  background-color: rgb(22, 120, 211);
}

.bodyComponent {
  /* background-color: green; */
  padding: 2px;
}

.categoryContainer {
  /* width: 90%; */
  background-color: #fff;
}

.categoryContainer > .category {
  /* background-color: red; */
  /* padding-right: 15px; */
  margin-top: 15px;
  margin-bottom: 15px;
}

.categoryContainer > .category > .top > .category-icon {
  /* background-color: blue; */
}

.categoryContainer > .category > .links > a {
  text-decoration: none;
  color: #2b2d2e;
  padding: 0 0 0 4px;
  font-size: 12px;
  margin-bottom: 4px;
}

.categoryContainer > .category > .links > a:hover {
  color: rgb(16, 117, 212);
}
.categoryContainer > .category > .lower .lower-right {
  transition: all 0.3s ease-in;
  font-size: 24px;
}

.categoryContainer > .category > .lower:hover .lower-right {
  margin-left: 30px;
}
.bodyComponent > .popularCategoryContainer > .all-cats > .popular-categories {
  padding: 5px;
  transition: all 0.3s ease;
  width: 20%;
}

.bodyComponent
  > .popularCategoryContainer
  > .all-cats
  > .popular-categories:hover {
  -webkit-box-shadow: 0px 0px 28px -19px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 28px -19px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 28px -19px rgba(0, 0, 0, 1);
}

.bodyComponent
  > .popularCategoryContainer
  > .all-cats
  > .popular-categories
  img {
  width: 100%;
}

.bodyComponent > .ads {
  height: 15vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(215, 215, 215, 1) 36%
  );
  border: 1px solid rgba(190, 189, 189, 0.151);
  padding: 0 7% 0;
}
.bodyComponent > .ads > .imgs > img {
  height: 7vh;
  width: 12vw;
  padding-left: 15px;
}

.footerComponent {
  background-color: #eeeeee;
  padding: 3% 0%;
  font-size: 15px;
}

.footerComponent > .footer {
  width: 80%;
}


.footerComponent > .footer > .titles {
  display: flex;
}


.footerComponent > .footer > .titles > .title > .link {
  font-weight: 500;
}

.footerComponent > .footer > .titles > .title > .link:hover {
  text-decoration: underline;
  color: rgb(16, 117, 212);
}

/* ============================= END OF PAGES ============================ */

/* ============================= HEADER ============================ */
.header {
  width: 85%;
}

.left {
  flex: 2;
}

.logo {
  font-size: 36px;
}

.select {
  font-size: 14px;
}

.right {
  flex: 5;
}

.headerIcon {
  font-size: 18px;
}

.header-btn {
  border: none;
  margin: 3px;
  padding: 7px;
  background-color: transparent;
}

.new {
  background-color: rgb(53, 197, 53);
  padding: 1px 5px;
  border-radius: 8px;
  top: 0;
  right: 0px;
  color: rgb(250, 250, 250);
  font-size: 8px;
  font-weight: 500;
}

.login {
  border: 1px solid transparent;
  margin: 0px 15px;
  height: 100%;
  padding: 0 5px;
}

.login:hover {
  background-color: #fff;
  border: transparent;
  border-left: 1px solid rgba(0, 0, 0, 0.07);
  border-right: 1px solid rgba(0, 0, 0, 0.07);
}
.login:hover > span {
  background-color: #fff;
}

.placeAd {
  padding: 10px 20px !important;
  height: max-content;
  background-color: rgb(13, 132, 243);
  color: rgb(252, 252, 252);
}

.placeAd > span {
  background-color: rgb(13, 132, 243);
}

.placeAd:hover,
.placeAd:hover > span {
  background-color: rgb(12, 124, 230);
}
/* ============================= END OF HEADER ============================ */

/* ============================= NAVBAR ============================ */
.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.nav-item {
  cursor: pointer;
  padding: 15px;
  transition: 0.5s all ease;
  border-bottom: 5px solid transparent;
}

.nav-item:hover {
  border-bottom: 5px solid #000;
}

.nav-item:hover .submenu {
  display: block;
}

.nav-item a {
  text-decoration: none;
  color: #2b2d2e;
}

.submenu {
  border-radius: 0 0 6px 6px;
  /* background-color: rgb(241, 241, 241); */
  background-color: rgb(253, 253, 253);
  border: 1px solid rgba(0, 0, 0, 0.15);
  top: 18.2%;
  display: none;
  font-weight: 500;
  width: 17rem;
  padding-bottom: 10px;
}

.submenu-item {
  cursor: pointer;
  padding: 8px 20px;
}

.submenu-item:hover {
  font-weight: bold;
  background-color: rgba(241, 241, 241, 0.555);
  color: rgb(16, 117, 212);
}

.horizontal-line {
  width: 90%;
  margin: 7.5% 4.5% 5% 4.5%;
}

.lower-link {
  font-weight: bold;
  color: rgb(16, 117, 212);
  padding: 2% 12%;
}

.lower-link:hover {
  background-color: rgba(241, 241, 241, 0.959);
}

/* ============================= END OF NAVBAR ============================ */

/* ==================================== styled classes =========================== */
.d-flex {
  display: flex;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.fw-600,
.menuItem {
  font-weight: 600;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.thin {
  border: 0.05px solid rgba(146, 146, 146, 0.125);
}

.padding-16 {
  padding: 16px;
}

.light-gray {
  color: #666b72;
}

.color-darkgray,
.menuItem {
  color: #2b2d2e;
}

.text-align-right {
  text-align: right;
}

.justify-content-end {
  justify-content: end;
}

.flex-direction-column {
  flex-direction: column;
}

.cursor-pointer {
  cursor: pointer;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.border-radius-8 {
  border-radius: 8px;
}

.border-none {
  border: none;
}

.fw-bold {
  font-weight: bold;
}

.fw-800 {
  font-weight: 800;
}

.fz-24 {
  font-size: 24px;
}

.fz-16 {
  font-size: 16px;
}

.fz-14 {
  font-size: 14px;
}

.fz-12 {
  font-size: 12px;
}

.fz-10 {
  font-size: 11px;
}

.outline-none {
  outline: none;
}

.w-85p {
  width: 85%;
}

.w-15p {
  width: 20%;
}

.w-100p {
  width: 100%;
}

.w-max-content {
  width: max-content;
}

.bg-transparent {
  background-color: transparent;
}

.ml-10p {
  margin-left: 7.5%;
}

.ml-10 {
  margin-left: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-2p {
  margin-top: 2%;
}
.pr-15 {
  padding-right: 15px;
}

.p-10 {
  padding: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.overflow-hidden {
  overflow: hidden;
}

.list-style-none {
  list-style: none;
}

.text-decoration-none {
  text-decoration: none;
}

.color-blue {
  color: rgb(16, 117, 212);
}

.color-lightgray {
  color: rgb(192, 192, 192);
}
.color-gray {
  color: gray;
}
.flex-wrap-wrap {
  flex-wrap: wrap;
}
/* ==================================== end styled classes =========================== */
